{% extends 'base.html' %}
{% block title %}Daftar Barang{% endblock %}

{% block content %}
<h2 class="text-2xl font-bold mb-4">Daftar Barang</h2>
<table class="table-auto w-full border-collapse">
  <thead>
    <tr class="bg-blue-500 text-white">
      <th class="p-2">No</th>
      <th class="p-2">Nama</th>
      <th class="p-2">Stok</th>
    </tr>
  </thead>
  <tbody>
    {% for barang in daftar_barang %}
    <tr class="bg-white">
      <td class="p-2">{{ loop.index }}</td>
      <td class="p-2">{{ barang.nama_barang }}</td>
      <td class="p-2">{{ barang.stok }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
