{% extends 'base.html' %}
{% block content %}
<h2 class="text-2xl font-bold mb-4">Form Edit Barang</h2>
<form action="{{ url_for('edit', id=barang.id_barang) }}" method="post">
    <label for="nama_barang">Nama Barang</label>
    <input type="text" name="nama_barang" value="{{ barang.nama_barang }}" placeholder="Nama Barang" id="nama_barang" class="border p-2 w-full mb-2">
    <label for="stok">Stok</label>
    <input type="text" name="stok" value="{{ barang.jumlah }}" placeholder="Stok" id="stok" class="border p-2 w-full mb-2">
    <label for="id_supplier">Supplier</label>
    <select name="id_supplier" id="id_supplier" class="border p-2 w-full mb-2" >
        <option selected value="{{ barang.supplier_id }}">{{ barang.supplier_id }} (Sesuai Data Lama)</option>
        {% for s in supplier_list: %}
            <option value="{{ s.id_supplier }}">{{ s.nama_supplier }}</option>
        {% endfor %}
    </select>
    <label for="id_lokasi">Lokasi Gudang</label>
    <select name="id_lokasi" id="id_lokasi" class="border p-2 w-full mb-2">
        <option selected value="{{ barang.lokasi_id }}">{{ barang.lokasi_id }} (Sesuai Data Lama)</option>
        {% for l in lokasi_list: %}
            <option value="{{ l.id_lokasi }}">{{ l.nama_lokasi }}</option>
        {% endfor %}
    </select>
    <br>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Simpan</button>
</form>

{% endblock %}