<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Judul Website </title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<style>
    h1 {
        text-align: center;
        text-decoration:underline;
    }
    table {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        
    }
    table th{
        background-color: #000000;
        color: #dfe3e5;
    }
    .green {
        background-color: green;
        color: antiquewhite;
        width: 300px;
        margin-left: 100px;

    }
</style>
<body>
    <h1 style="">Selamat Datang</h1>
    <p>Ini adalah halaman utama website Anda. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ipsum, quam possimus molestias, doloremque quae obcaecati sint deserunt provident illum qui repudiandae ut similique consectetur iusto, modi minima quis ullam.</p>
    <ul type="square">    
        <li>satu</li>
        <li>dua</li>
        <li>tiga</li>
    </ul>
    <ol type="I">    
        <li>satu</li>
        <li>dua</li>
        <li>tiga</li>
    </ol>
    <h1>Data Inventaris Barang</h1>
    <table border="1" class="">
        <tr>
            <th>No</th>
            <th>Image</th>
            <th>Nama Barang</th>
            <th>Jumlah</th>
        </tr>
        <tr>
            <td>1</td>
            <td><img src="image/googlespace.jpg" width="100" alt="Google Space"></td>
            <td>Pulpen</td>
            <td>5</td>
        </tr>
        <tr>
            <td>2</td>
            <td><img src="image/googlespace.jpg" width="100" alt="Google Space"></td>
            <td>Pensil</td>
            <td>5</td>
        </tr>
    </table>
    <div class="green">
        <h5>Dalam Div Green</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate officia expedita culpa enim, iusto id, beatae doloremque fuga debitis vero natus nisi nobis impedit quos sapiente aliquid velit hic facere.</p>
    </div>
    <hr>
    <form action="proses.html" method="get">
        <label for="nama">Nama:</label>
        <input type="text" name="nama" id="nama">
        <br>
        <label for="role">Role:</label>
        <br>
        <select name="role" id="role">
            <option value="admin">Admin</option>
            <option value="user">User</option>
        </select>
        <br>
        <input type="radio" name="gender" value="laki-laki" id="laki-laki"> <label for="laki-laki">Laki-laki</label>
        <input type="radio" name="gender" id="prempuan" value="prempuan"><label for="prempuan">Perempuan</label>
        <br>
        <label for="alamat">Alamat:</label>
        <input type="text" id="alamat" name="alamat"><br><br>
        <input type="submit" class="bg-sky-500 hover:bg-sky-700" value="Submit">
        <input type="reset" value="Reset">
        <input type="button" value="Button">
    </form>
    <hr>
    <h4>Belajar Membuat Link</h4>
    <a href="http://www.google.com">Google .Com</a> | <a href="http://facebook.com">Facebook</a>
    <hr>
    <div class="green">
       <img src="image/googlespace.jpg" width="1000" alt="Google Space">
    </div>
    <div class="green"><img src="image/world-political-maps.jpg" alt=""></div>
</body>
</html>