{% extends 'base.html' %}
{% block content %}

<div class="p-6">
  <h1 class="text-2xl font-bold mb-4">Detail Arsip: {{ arsip.nama_arsip }}</h1>
  <p class="mb-2">Kategori ID: {{ arsip.nama_kategori }}</p>
  <p class="mb-4">Keterangan: {{ arsip.keterangan }}</p>

  <h2 class="text-xl font-semibold mb-2">File Arsip</h2>

  <div class="container mx-auto w-full grid grid-cols-2 md:grid-cols-2 gap-4">
    {% for file in file_list %}
      <div class="border p-2 rounded shadow">
        {% if file.file_type == 'image' %}
          <img src="{{ url_for('static', filename='uploads/arsip/' + file.file_path) }}" class="w-full h-auto rounded" alt="">
        {% elif file.file_type == 'pdf' %}
          {# <iframe width="100%" src="{{ url_for('static', filename='uploads/arsip/' + file.file_path) }}" class="w-full h-64"></iframe> #}
          <iframe 
    width="100%" 
    height="600"
    src="{{ url_for('static', filename='pdfjs/web/viewer.html') }}?file={{ url_for('static', filename='uploads/arsip/' + file.file_path) }}">
</iframe>
        {% elif file.file_type == 'audio' %}
          <audio controls class="w-full">
            <source src="{{ url_for('static', filename='uploads/arsip/' + file.file_path) }}">
            Browser tidak mendukung audio.
          </audio>
        {% elif file.file_type == 'video' %}
          <video controls class="w-full h-64">
            <source src="{{ url_for('static', filename='uploads/arsip/' + file.file_path) }}">
            Browser tidak mendukung video.
          </video>
        {% endif %}
        <p class="mt-2 text-center text-sm font-medium">{{ file.file_path }}</p>
      </div>
    {% endfor %}
  </div>

  <a href="{{ url_for('arsip_bp.index_arsip') }}" class="inline-block mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Kembali</a>
</div>

{% endblock %}
